<!-- components/nav.html -->
<nav class="navbar" id="navbar">
    <div class="container">
        <div class="navbar-content">
            <a href="index.html" class="navbar-brand">
                <img src="https://surajit-singha-sisir.github.io/mastorsCDN/Resources/svg/logo/mastorsCDN-darkbg.svg"
                    alt="MastorsCDN Logo" class="navbar-logo">
            </a>

            <ul class="navbar-menu" id="navMenu">
                <li><a href="index.html#home" class="nav-link">Home</a></li>
                <li><a href="index.html#features" class="nav-link">Features</a></li>
                <li><a href="index.html#libraries" class="nav-link">Libraries</a></li>
                <li><a href="index.html#documentation" class="nav-link">Docs</a></li>
                <li><a href="index.html#showcase" class="nav-link">Showcase</a></li>
                <li><a href="about.html" class="nav-link">About</a></li>
            </ul>

            <div class="navbar-actions">
                <a href="https://github.com/KEHEM-IT/MastorsCDN" target="_blank" class="btn btn-outline">
                    <i class="fab fa-github"></i>
                    GitHub
                </a>
                <a href="index.html#get-started" class="btn btn-primary">
                    Get Started
                </a>
                <button class="navbar-toggle" id="navToggle">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>

        </div>
    </div>
</nav>