$primary-color: #3498db;

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f4f4f4;
}

a {
    color: $primary-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}